<div class="form">
  <form [formGroup]="formLogin" (ngSubmit)="login()">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput type="email" />
    </mat-form-field>
    <br />
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Senha</mat-label>
      <input formControlName="senha" matInput type="password" />
    </mat-form-field>
   <br>
    <button mat-flat-button color="primary" type="submit">Entrar</button>
  </form>
</div>
