<div class="form">
  <form [formGroup]="formProduct" (ngSubmit)="saveProduct()">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Titulo</mat-label>
      <input formControlName="nome" matInput type="text" />
    </mat-form-field>
    <br />
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Quantidade</mat-label>
      <input formControlName="qtde" matInput type="number" />
    </mat-form-field>
    <br />
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Valor</mat-label>
      <input formControlName="preco"matInput type="text" />
    </mat-form-field>
    <br />
    <button mat-flat-button color="primary" type="submit">Salvar</button>
  </form>
</div>
