<div class="form">
  <form [formGroup]="formProduct" (ngSubmit)="saveProduct()">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Titulo</mat-label>
      <input formControlName="nome" matInput type="text" />
    </mat-form-field>
    <br />
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Quantidade</mat-label>
      <input formControlName="qtde" matInput type="number" />
    </mat-form-field>
    <br />
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Valor</mat-label>
      <input formControlName="preco"matInput type="text" />
    </mat-form-field>
    <br />
    <button mat-flat-button color="primary" type="submit">Salvar</button>
  </form>
</div>

<div class="list">
  <mat-list>
    <mat-list-item *ngFor="let product of crudService.lista | async">
       <p>{{ product.nome }} <br>Qtde: {{product.qtde}} Valor: {{product.preco}}</p>
       <button mat-icon-button (click)="edit(product)">
          Editar
       </button>
       <button mat-icon-button (click)="deleteProduct(product.id)">
          Deletar
       </button>
    </mat-list-item>
  </mat-list>
</div>
